// node-sass --omit-source-map-url scss/portfoliosite.scss public/stylesheets/portfoliosite.css

@charset "utf-8";

$bulma-default: hsl(171, 100%, 41%);

$baja-sunset-gradient: linear-gradient(141deg, #0DDCED 0%, #8DC885 71%, #EDD24D 100%);

$primary: $blue;

// $body-background-color: #021A1C;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

.hero.is-primary.is-bold {
  color: rgb(255, 255, 255);
  background-image: $baja-sunset-gradient
}

.hero.is-primary .title {
  color: rgb(255, 255, 255);
}

.hero.is-primary .subtitle {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .hero.is-primary.is-bold .navbar-menu {
    background-image: $baja-sunset-gradient
  }
}