<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Software Projects
                </a>

                <div class="navbar-dropdown">
                    <a href="/starbit" class="navbar-item">
                        Starbit
                    </a>
                    <a href="/rosalina-bot" class="navbar-item">
                        RosalinaBot
                    </a>
                    <a href="/akihabara-simulation" class="navbar-item">
                        Akihabara Simulation
                    </a>
                    <a href="https://itunes.apple.com/us/app/happy-grader-keyboard/id965705471?ls=1&mt=8"
                       class="navbar-item">
                        Happy Key
                    </a>
                    <hr class="navbar-divider">
                    <a href="/portfolio-site" class="navbar-item">
                        Portfolio Site
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    DIY Projects
                </a>

                <div class="navbar-dropdown">
                    <a href="/starbits-coffee" class="navbar-item">
                        Starbits Coffee Mug
                    </a>
                    <a href="/amiibo-display" class="navbar-item">
                        amiibo Display
                    </a>
                    <a href="/robin-amiibo" class="navbar-item">
                        Robin Player 2 amiibo
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>