<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to my Portfolio!</p>
    <a href="https://www.linkedin.com/in/alexsmbaratti/">LinkedIn</a>
    <a href="https://www.github.com/alexsmbaratti/">GitHub</a>

    <h2>Overview</h2>
    <h2>Experience</h2>
    <h2>Education</h2>
    <h3>Arizona State University</h3>
    <h4>Pursuing Bachelor of Science in Software Engineering</h4>
    <h2>Software Projects</h2>
    <h2>DIY Projects</h2>
    <h3><a href="/starbits-coffee">Starbits Coffee Mug</a></h3>
    <h3><a href="/amiibo-display">amiibo Display</a></h3>
</body>
</html>
