<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<section class="hero is-medium is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Hi, I'm Alex!</h1>
            <h2 class="subtitle">
                Welcome to my Portfolio!
            </h2>
            <a href="https://www.github.com/alexsmbaratti/">
                <button class="button">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                </button>
            </a>
            <a href="https://www.linkedin.com/in/alexsmbaratti/">
                <button class="button">
                    <span class="icon">
                        <i class="fab fa-linkedin-in"></i>
                    </span>
                    <span>LinkedIn</span></button>
            </a>
        </div>
    </div>
</section>

<a class="button">
    Button
</a>

<h2>Overview</h2>
<h2>Experience</h2>
<h2>Education</h2>
<h3>Arizona State University</h3>
<h4>Pursuing Bachelor of Science in Software Engineering</h4>
<h2>Software Projects</h2>
<h2>DIY Projects</h2>
<h3><a href="/starbits-coffee">Starbits Coffee Mug</a></h3>
<h3><a href="/amiibo-display">amiibo Display</a></h3>
</body>
</html>
