<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<section class="hero is-medium is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">Hi, I'm Alex!</h1>
            <h2 class="subtitle">
                Welcome to my Portfolio!
            </h2>
            <a href="https://www.github.com/alexsmbaratti/">
                <button class="button">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                </button>
            </a>
            <a href="https://www.linkedin.com/in/alexsmbaratti/">
                <button class="button">
                    <span class="icon">
                        <i class="fab fa-linkedin-in"></i>
                    </span>
                    <span>LinkedIn</span></button>
            </a>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Experience</h1>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column">
                                <p class="title has-text-left">
                                    Arizona State University UASP
                                </p>
                            </div>
                            <div class="column">
                                <p class="subtitle has-text-right">
                                    August 2018 - Present
                                </p>
                            </div>
                        </div>
                        <p class="subtitle">
                            Subject Area Tutor
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column">
                                <p class="title has-text-left">
                                    Viasat
                                </p>
                            </div>
                            <div class="column">
                                <p class="subtitle has-text-right">
                                    May 2019 - August 2019
                                </p>
                            </div>
                        </div>
                        <p class="subtitle">
                            IT Software Engineering Intern
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column">
                                <p class="title has-text-left">
                                    Viasat
                                </p>
                            </div>
                            <div class="column">
                                <p class="subtitle has-text-right">
                                    May 2020 - August 2020
                                </p>
                            </div>
                        </div>
                        <p class="subtitle">
                            IT Software Engineering Intern
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">Education</h1>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            Arizona State University
                        </p>
                        <p class="subtitle">
                            Pursuing a Bachelor of Science in Software Engineering
                        </p>
                        <ul>
                            <li>Focus in Web & Mobile</li>
                            <li>Barrett, The Honors College</li>
                            <li>Thesis on Autonomous Vehicles</li>
                            <li>4+1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">Software Projects</h1>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img src="/images/rosalina-bot.jpg" alt="RosalinaBot Icon">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            RosalinaBot
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img src="/images/akihabara-simulation.jpg" alt="Unity Simulation of Akihabara">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            Akihabara Simulation
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img src="/images/happy-key.jpg" alt="Happy Key Logo">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            Happy Key
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">DIY Projects</h1>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img src="/images/starbits-coffee.jpg" alt="Starbits Coffee Logo">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            Starbits Coffee Mug
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img src="/images/amiibo-display.jpg" alt="amiibo Display">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            amiibo Display
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img src="/images/robin-player-2.jpg" alt="Robin Player 2 amiibo">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            Robin Player 2 amiibo
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">Other Links</h1>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-four-fifths">
                                <a href="https://corpblog.viasat.com/viasat-virtual-interns-2/">
                                    <p class="title has-text-left">
                                        Online s’mores and more: Returning 2020 interns find a changed world
                                    </p>
                                </a>
                            </div>
                            <div class="column">
                                <p class="subtitle has-text-right">
                                    August 14, 2020
                                </p>
                            </div>
                        </div>
                        <p class="subtitle has-text-left">
                            Inside Viasat
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-four-fifths">
                                <a href="https://engineering.asu.edu/new-study-abroad/alexander-baratti/">
                                    <p class="title has-text-left">
                                        Study Abroad Reflection
                                    </p>
                                </a>
                            </div>
                            <div class="column">
                                <p class="subtitle has-text-right">
                                    June 30, 2020
                                </p>
                            </div>
                        </div>
                        <p class="subtitle has-text-left">
                            Ira A. Fulton Schools of Engineering @ ASU
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-four-fifths">
                                <a href="https://carlsbad.org/Career-academies-offer-pathway-to-the-real-world/">
                                    <p class="title has-text-left">
                                        Career academies offer pathway to the ‘real world’
                                    </p>
                                </a>
                            </div>
                            <div class="column">
                                <p class="subtitle has-text-right">
                                    March 1, 2015
                                </p>
                            </div>
                        </div>
                        <p class="subtitle has-text-left">
                            Carlsbad Chamber of Commerce
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-four-fifths">
                                <a href="https://www.sandiegouniontribune.com/sdut-carlsbad-wiz-kids-win-big-2011nov02-story.html">
                                    <p class="title has-text-left">
                                        Wiz kids win big
                                    </p>
                                </a>
                            </div>
                            <div class="column">
                                <p class="subtitle has-text-right">
                                    November 2, 2011
                                </p>
                            </div>
                        </div>
                        <p class="subtitle has-text-left">
                            The San Diego Union Tribune
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
