<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="hero is-medium is-dark is-bold is-large">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">Portfolio Site</h1>
            <h1 class="subtitle is-1">A dynamic site created from scratch</h1>
            <a href="/">
                <button class="button is-light">
                <span class="icon is-medium">
                    <i class="fas fa-external-link-alt"></i>
                </span>
                    <span>View Site</span>
                </button>
            </a>
            <a href="https://github.com/alexsmbaratti/Portfolio-Site">
                <button class="button is-light">
                <span class="icon is-medium">
                    <i class="fab fa-github"></i>
                </span>
                    <span>View Source Code</span>
                </button>
            </a>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Motivation
            </h1>
            <h2 class="subtitle">
                After taking a class on web development in university, I created this website during the winter break of
                that year. Building my own website from scratch allowed me more control and cost less than a website
                builder. Plus, it would be something I could call my own.
            </h2>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Implementation
            </h1>
            <h2 class="subtitle">
                To apply the concepts that I've learned, I used Node.js for serving dynamic pages on the back end, and
                Bulma for designing the front end.
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <div class="tile">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
                <p class="title">CSS Framework from Bulma</p>
                <p class="subtitle">Bulma provides beautiful web elements that are surprisingly simple to implement.</p>
                <span class="icon is-large"><i class="fab fa-css3-alt fa-3x"></i></span>
            </article>
            <article class="tile is-child notification is-dark">
                <h1 class="title">
                    <strong class="typed-attribution"></strong>
                </h1>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>
                    var typed = new Typed(".typed-attribution", {
                        strings: ["^1000 Typing effect from Typed.js"],
                        typeSpeed: 50,
                        loop: false
                    });
                </script>
                <a href="https://github.com/mattboldt/typed.js">
                    <p class="subtitle">Check out the library</p>
                </a>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-info">
                <p class="title">Built with Node.js</p>
                <p class="subtitle">
                    This site uses Node.js (and Express.js) to serve responses dynamically through EJS
                    and JSON files. Aspects like experience and software projects are defined in a JSON file, which is
                    parsed and rendered into an HTML response. This means layout files are shorter and it's easier to
                    add additional content to the front page.
                </p>
                <span class="icon is-large"><i class="fab fa-node-js fa-3x"></i></span>
            </article>
        </div>
    </div>

    <!-- TODO: Mention WebStorm, JSON -->

</div>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Deployment
            </h1>
            <h2 class="subtitle">
                When determining how to publish this site, I wanted to pick services that would teach me the most. I
                also wanted options that were relatively cheap and easy to setup and maintain.
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <div class="tile">
        <div class="tile is-parent">
            <article class="tile is-child notification is-warning">
                <p class="title">Hosted by AWS Lightsail</p>
                <p class="subtitle">
                    AWS Lightsail hosts this site through a combination of Node.js and Apache. Lightsail provided
                    relatively simple setup with template instances for Node.js. It did need some tweaking to get an
                    Express.js application working properly, but it got the job done.
                </p>
                <span class="icon is-large"><i class="fab fa-aws fa-3x"></i></span>
            </article>
        </div>
    </div>
</div>

</body>
