<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="hero is-medium is-info is-bold is-large">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">RosalinaBot</h1>
            <h1 class="subtitle is-1">A Discord Bot for Nintendo Fans</h1>
            <a href="https://github.com/alexsmbaratti/RosalinaBot">
                <button class="button is-light">
                <span class="icon is-medium">
                    <i class="fab fa-github"></i>
                </span>
                    <span>View Source Code</span>
                </button>
            </a>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <p>RosalinaBot is not affiliated nor endorsed by Nintendo in any way.</p>
        <p></p>
    </div>
</section>

<section class="hero is-medium is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-three-fifths">
                    <h1 class="title">
                        Share Your Nintendo Switch Friend Codes on Discord!
                    </h1>
                    <h1 class="subtitle">The Nintendo Switch uses friend codes can be a pain to memorize. With
                        RosalinaBot, you can store your friend code in Discord once, and never have to worry about it
                        again! Want to share your friend code with your server? Just type the r!sc command and
                        RosalinaBot will send out your code.
                    </h1>
                </div>
                <div class="column">
                    <figure class="image">
                        <img src="/images/rosalina-bot/sc_example.png">
                    </figure>
                </div>
            </div>
        </div>
</section>
</body>