<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="hero is-medium is-dark is-info is-large">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">RosalinaBot</h1>
            <h1 class="subtitle is-1">A Discord Bot for Nintendo Fans</h1>
            <a href="https://github.com/alexsmbaratti/RosalinaBot">
                <button class="button is-light">
                <span class="icon is-medium">
                    <i class="fab fa-github"></i>
                </span>
                    <span>View Source Code</span>
                </button>
            </a>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <span class="tag is-light">RosalinaBot is not affiliated nor endorsed by Nintendo in any way.</span>
        <p> </p>
    </div>
</section>
</body>